@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Syne:wght@400..800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    background: url("/static/intro_page/abstract-luxury-gradient-blue-background-smooth-dark-blue-with-black-vignette-studio-banner.jpg");
    background-position: center;
    background-size: cover;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
}

header .navbar {
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
    justify-content: center;

}

.header-links:hover {
    color: orange;
}

.header_logo {
    width: 500px;
    height: auto;
}

.navbar .header-links {
    display: flex;
    gap: 40px;
}

.hero-section {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 20px;
}

.hero-section .content {
    color: white;
    text-align: center;
}

.big_text {
    font-family: 'Syne';
    font-weight: bold;
    font-size: 3rem;
    margin: 0;
}

.big_text-fade {
    color: rgb(155, 161, 179);
}

.b-mar {
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

