{% extends 'layout.html' %}
{% block title %}
    Change Password
{% endblock %}

{% block main %}

    <div class="container full-height d-flex align-items-center justify-content-center">
        <form action="/change_password" method="post">
            <input type="hidden" id="current_datetime" name="current_datetime">

            <div class="mb-3">
                <input class="form-control mx-auto w-auto" autocomplete="off" autofocus type="password" name="old_password" placeholder="Old Password">
            </div>

            <div class="mb-3">
                <input class="form-control mx-auto w-auto" autocomplete="off" type="password" name="new_password" placeholder="New Password">
            </div>

            <div class="mb-3">
                <input class="form-control mx-auto w-auto" autocomplete="off" type="password" name="confirm_password" placeholder="Confirm New Password">
            </div>

            <div class="text-center">
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
        
        </form>
    </div>

{% endblock %}

{% block java %}
    <script src="/static/js/main.js"></script>
{% endblock %}