{% extends 'layout.html' %}
{% block title %}
    LOGIN
{% endblock %}

{% block main %}

    {% if request.args.warning %}
        <div class="warning_box">
            <p>{{ request.args.warning.upper() }}</p>
        </div>
    {% endif %}

    <div class="container full-height d-flex align-items-center justify-content-center">
        <form action="/login" method="post">
            <input type="hidden" id="current_datetime" name="current_datetime">

            <div class="mb-3">
                <input class="form-control mx-auto w-auto" type="text" name="username" autocomplete="off" placeholder="Username">
            </div>

            <div class="mb-3">
                <input class="form-control mx-auto w-auto" type="password" name="password" placeholder="Password">
            </div>

            <div class="text-center">
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
        
        </form>
    </div>

    <div class="text-center">
        <form action="/login" method="post">
            <input type="hidden" name="provider" value="google">
            <input type="hidden" id="auth_datetime" name="current_datetime">
            <button type="submit" class="btn btn-outline-primary">Sign In with Google</button>
        </form>
    </div>

    <div class="mb-3 text-center">
        <a href="/registration">
            <button type="button" class="btn btn-link">don't have account? Sign Up</button>
        </a>
    </div>

{% endblock %}

{% block java %}
    <script src="/static/js/main.js"></script>
{% endblock %}